.small-arrow {
    d: path('M9.46967 4.46967C9.76256 4.17678 10.2374 4.17678 10.5303 4.46967L17.5303 11.4697C17.8232 11.7626 17.8232 12.2374 17.5303 12.5303L10.5303 19.5303C10.2374 19.8232 9.76256 19.8232 9.46967 19.5303C9.17678 19.2374 9.17678 18.7626 9.46967 18.4697L15.1893 12.75H1C0.585786 12.75 0.25 12.4142 0.25 12C0.25 11.5858 0.585786 11.25 1 11.25H15.1893L9.46967 5.53033C9.17678 5.23744 9.17678 4.76256 9.46967 4.46967Z');
    fill: #6D5BF7;
    transition: ease-out .3s;
  }

  .link__arrow:hover .small-arrow {
    d: path('M15.4697 4.46967C15.7626 4.17678 16.2374 4.17678 16.5303 4.46967L23.5303 11.4697C23.8232 11.7626 23.8232 12.2374 23.5303 12.5303L16.5303 19.5303C16.2374 19.8232 15.7626 19.8232 15.4697 19.5303C15.1768 19.2374 15.1768 18.7626 15.4697 18.4697L21.1893 12.75H1C0.585786 12.75 0.25 12.4142 0.25 12C0.25 11.5858 0.585786 11.25 1 11.25H21.1893L15.4697 5.53033C15.1768 5.23744 15.1768 4.76256 15.4697 4.46967Z');
  } 

  .big-arrow {
    d: path('M16.5303 4.46967C16.8232 4.76256 16.8232 5.23744 16.5303 5.53033L10.8107 11.25H59C59.4142 11.25 59.75 11.5858 59.75 12C59.75 12.4142 59.4142 12.75 59 12.75H10.8107L16.5303 18.4697C16.8232 18.7626 16.8232 19.2374 16.5303 19.5303C16.2374 19.8232 15.7626 19.8232 15.4697 19.5303L8.46967 12.5303C8.17678 12.2374 8.17678 11.7626 8.46967 11.4697L15.4697 4.46967C15.7626 4.17678 16.2374 4.17678 16.5303 4.46967Z');
    fill: #1F212C;
    transition: ease-out .3s;
  }

  .link__arrow_back:hover .big-arrow {
    d: path('M8.53033 4.46967C8.82322 4.76256 8.82322 5.23744 8.53033 5.53033L2.81066 11.25H59C59.4142 11.25 59.75 11.5858 59.75 12C59.75 12.4142 59.4142 12.75 59 12.75H2.81066L8.53033 18.4697C8.82322 18.7626 8.82322 19.2374 8.53033 19.5303C8.23744 19.8232 7.76256 19.8232 7.46967 19.5303L0.46967 12.5303C0.176777 12.2374 0.176777 11.7626 0.46967 11.4697L7.46967 4.46967C7.76256 4.17678 8.23744 4.17678 8.53033 4.46967Z');
  } 


  .social-icon {
    d: path('M0.24939 3C0.24939 2.58579 0.585176 2.25 0.99939 2.25H12.9994C13.4136 2.25 13.7494 2.58579 13.7494 3V15C13.7494 15.4142 13.4136 15.75 12.9994 15.75C12.5852 15.75 12.2494 15.4142 12.2494 15V4.81066L2.02972 15.0303C1.73683 15.3232 1.26195 15.3232 0.96906 15.0303C0.676166 14.7374 0.676166 14.2626 0.96906 13.9697L11.1887 3.75H0.99939C0.585176 3.75 0.24939 3.41421 0.24939 3Z');
    transition: ease-out .3s;
  }

  .contact-page__social_item:hover  .social-icon {
    d: path('M2.25 1C2.25 0.585786 2.58579 0.25 3 0.25H15C15.4142 0.25 15.75 0.585786 15.75 1V13C15.75 13.4142 15.4142 13.75 15 13.75C14.5858 13.75 14.25 13.4142 14.25 13V2.81066L4.03033 13.0303C3.73744 13.3232 3.26256 13.3232 2.96967 13.0303C2.67678 12.7374 2.67678 12.2626 2.96967 11.9697L13.1893 1.75H3C2.58579 1.75 2.25 1.41421 2.25 1Z');
  }

  .contact-page__social_item:active  .social-icon {
    fill: #1F212C;
  }

  .home-section__first_ellips-blue {
    animation: rotateScale 12s infinite linear;
    top: 30%;
    left: -30%;
  }

  .home-section__first_ellips-purple {
    animation: rotateScaleRev 12s infinite linear;    
    top: -9.03vw; 
    right: 9.03vw;
  }

  .advantages_ellips-purple {
    animation: rotate 6s infinite linear;
    scale: 0.7;
  }

  .advantages_ellips-blue {
    animation: rotateRev 6s infinite linear;
  }

  @keyframes rotateScale {
    from {
      transform: rotate(0deg)
                 translate(70%)
                 scale(1.5)
                 rotate(0deg);
    }
    50% {
      transform: rotate(180deg)
                 scale(1)
                 translateX(-70%)
                 rotate(-180deg);
    }   
    to {
      transform: rotate(360deg)
                 translate(70%)
                 scale(1.5)
                 rotate(-360deg);
    }
}

@keyframes rotateScaleRev {
  from {
    transform: rotate(360deg)
               translate(50%)
               scale(1.5)
               rotate(-360deg);
}
  50% {
    transform: rotate(180deg)
              scale(1)
              translate(-50%)
              rotate(-180deg);
  } 
  to {
    transform: rotate(0deg)
               translate(50%)
               scale(1.5)
               rotate(0deg);
  }
  
}

@keyframes rotate {
  from {
    transform: rotate(0deg)
    translate(-50%)
    rotate(0deg);

  }
  to {
    transform: rotate(360deg)
    translate(-50%)
    rotate(-360deg);
  }
}

@keyframes rotateRev {
  from {
    transform: rotate(360deg)
    translate(50%)
    rotate(-360deg);

  }
  to {
    transform: rotate(0)
    translate(50%)
    rotate(0);
  }
}

.price-page__first-circle, .price-page__first-letter, .price-page__first-elements, .price-page__two-circle, .price-page__rocket, .price-page__two-elements, .price-page__two-elements-people,  .price-page__star-icon {
  transition: ease-out .3s;
  position: absolute;
  transform-origin: center center;
}

.price-page__tab_item:first-child:hover .price-page__first-circle {
  fill: rgba(193, 204, 255, 0.4);
}

.price-page__tab_item:first-child:hover .price-page__first-letter {
  transform: scale(1.06) translate(1px, 1px);
  /* transform-origin: bottom left; */
}

.price-page__tab_item:first-child:hover .price-page__first-elements {
  transform: scale(1.06) translate(-2px, 1px);
  position: absolute;
  transform-origin: center center;
}

.price-page__tab_item:nth-child(2):hover .price-page__two-circle {
  fill: #41388d;
}

.price-page__tab_item:nth-child(2):hover .price-page__rocket {
  transform: scale(1.08) translate(-2px, 0);
}

.price-page__tab_item:nth-child(2):hover .price-page__two-elements {
  transform: scale(1.08) translate(-1px, 2px);
}

.price-page__tab_item:nth-child(2):hover .price-page__two-elements-people {
  transform: scale(1.09) translate(-1px, -3px);
}

.price-page__gear-icon {
  transition: ease-out .3s;
  /* d: path('M108.602 78.5566L106.014 77.698C106.19 76.4146 106.251 75.1182 106.199 73.8239L108.857 73.2616C109.035 73.223 109.204 73.1496 109.353 73.0457C109.503 72.9418 109.63 72.8093 109.729 72.6559C109.827 72.5025 109.894 72.3313 109.926 72.1519C109.958 71.9726 109.954 71.7887 109.915 71.6108L108.905 66.9078C108.829 66.5485 108.615 66.2338 108.307 66.0326C108 65.8315 107.626 65.7601 107.266 65.8343L104.616 66.395C104.14 65.2014 103.559 64.0522 102.881 62.9608L104.884 61.1489C105.154 60.9026 105.316 60.5592 105.334 60.1938C105.353 59.8283 105.226 59.4705 104.981 59.1985L101.803 55.6553C101.682 55.5209 101.537 55.4116 101.375 55.3335C101.212 55.2555 101.036 55.2102 100.856 55.2005C100.676 55.1907 100.496 55.2165 100.326 55.2766C100.156 55.3366 99.9996 55.4295 99.8657 55.5501L97.8503 57.3681C96.852 56.5847 95.787 55.8904 94.6674 55.293L95.51 52.7048C95.6229 52.3594 95.594 51.9833 95.4298 51.6591C95.2656 51.3349 94.9795 51.0891 94.6343 50.9756L90.1492 49.5083C89.8043 49.3962 89.429 49.4255 89.1057 49.5898C88.7824 49.7542 88.5376 50.0401 88.425 50.3849L87.5731 52.9792C86.3263 52.8056 85.0666 52.743 83.8087 52.7923L83.2558 50.1064C83.2199 49.931 83.1497 49.7644 83.0492 49.6163C82.9487 49.4681 82.8198 49.3414 82.67 49.2433C82.5203 49.1452 82.3525 49.0777 82.1766 49.0447C82.0006 49.0117 81.8198 49.0139 81.6447 49.0511L77.0315 50.0271C76.6765 50.103 76.3656 50.3157 76.1664 50.6192C75.9672 50.9227 75.8957 51.2926 75.9674 51.6485L76.5169 54.3575C75.3503 54.8275 74.2272 55.3988 73.1606 56.0651L71.3357 54.0005C71.2166 53.8665 71.0722 53.7576 70.9108 53.6798C70.7493 53.602 70.5741 53.5569 70.3952 53.5472C70.2162 53.5375 70.0372 53.5633 69.8683 53.6231C69.6993 53.683 69.544 53.7757 69.4111 53.8959L65.8725 57.0608C65.6003 57.3027 65.4345 57.6422 65.411 58.0055C65.3874 58.3689 65.5081 58.7269 65.7468 59.0019L67.5876 61.0954C66.8086 62.0886 66.116 63.1465 65.5171 64.2576L62.8668 63.3781C62.1522 63.1409 61.3755 63.5357 61.1318 64.2601L59.6049 68.7988C59.3603 69.5259 59.7421 70.3092 60.4583 70.548L63.1176 71.435C62.9294 72.6892 62.8498 73.9574 62.8797 75.2253L60.1085 75.8116C59.7485 75.8907 59.4337 76.1075 59.2315 76.4157C59.0292 76.7239 58.9555 77.0989 59.0262 77.4607L59.9426 82.1835C59.9756 82.3619 60.0439 82.5319 60.1435 82.6835C60.2431 82.8352 60.372 82.9653 60.5227 83.0664C60.6733 83.1675 60.8427 83.2374 61.0207 83.2721C61.1988 83.3068 61.382 83.3055 61.5596 83.2683L64.339 82.6803C64.7902 83.8672 65.3441 85.0123 65.9945 86.1029L63.8681 88.0209C63.5922 88.2702 63.4244 88.6172 63.4004 88.9883C63.3764 89.3593 63.498 89.7251 63.7394 90.0078L66.8879 93.6425C67.0071 93.7806 67.1528 93.8935 67.3164 93.9743C67.4801 94.055 67.6582 94.1022 67.8404 94.1128C68.0226 94.1234 68.205 94.0974 68.3769 94.0362C68.5488 93.975 68.7067 93.8799 68.8411 93.7565L70.9673 91.833C71.9534 92.6315 73.0077 93.3422 74.1179 93.9567L73.217 96.7006C72.973 97.4435 73.364 98.2453 74.0905 98.4911L78.6391 100.03C79.3672 100.277 80.1543 99.8725 80.3967 99.1278L81.2831 96.4052C82.543 96.5941 83.8175 96.6694 85.0909 96.6302L85.6604 99.4377C85.8162 100.206 86.5528 100.701 87.3055 100.541L92.0119 99.5456C92.7645 99.3864 93.2463 98.6342 93.0881 97.8662L92.5152 95.0826C93.7074 94.6059 94.8545 94.0231 95.9427 93.3414L97.7942 95.447C97.9144 95.5857 98.0611 95.6989 98.2257 95.78C98.3904 95.861 98.5695 95.9083 98.7527 95.919C98.9359 95.9297 99.1194 95.9036 99.2923 95.8422C99.4653 95.7809 99.6242 95.6855 99.7597 95.5617L103.328 92.3053C103.602 92.0515 103.766 91.7005 103.785 91.3273C103.804 90.9542 103.675 90.5886 103.428 90.3088L101.582 88.2208C102.374 87.1979 103.074 86.1077 103.675 84.9626L106.288 85.8339C106.461 85.8916 106.644 85.9142 106.827 85.9002C107.009 85.8862 107.187 85.836 107.349 85.7525C107.512 85.6689 107.656 85.5538 107.774 85.4138C107.892 85.2738 107.98 85.1117 108.034 84.937L109.498 80.3266C109.61 79.973 109.579 79.5894 109.412 79.2583C109.244 78.9273 108.953 78.6753 108.602 78.5566ZM87.9116 91.1825C78.8085 93.1084 69.9391 87.1742 68.1115 77.9786C66.2949 68.8382 72.1296 59.9244 81.1339 58.0194C90.1381 56.1143 98.9817 61.9226 100.897 71.0421C102.824 80.2168 97.0147 89.2565 87.9116 91.1825Z'); */
}

.price-page__gear-icon {
  position: absolute;
  transform-origin: center center;
}

.price-page__tab_item:nth-child(3):hover .price-page__gear-icon {
  /* animation: gear-rotate 5s infinite linear; */
  /* d: path('M60.3457 71.0362L62.9328 71.8948C62.7577 73.1782 62.696 74.4746 62.7483 75.7688L60.0905 76.3312C59.9124 76.3698 59.7438 76.4431 59.5941 76.5471C59.4445 76.651 59.3169 76.7835 59.2186 76.9369C59.1203 77.0902 59.0532 77.2615 59.0213 77.4409C58.9893 77.6202 58.9931 77.8041 59.0324 77.982L60.0421 82.685C60.1178 83.0443 60.3327 83.359 60.6398 83.5601C60.947 83.7613 61.3213 83.8326 61.6809 83.7585L64.3309 83.1978C64.8072 84.3914 65.388 85.5406 66.0665 86.632L64.0638 88.4439C63.7932 88.6902 63.6311 89.0336 63.6128 89.399C63.5946 89.7644 63.7217 90.1222 63.9663 90.3943L67.1447 93.9374C67.2648 94.0718 67.4102 94.1812 67.5727 94.2593C67.7351 94.3373 67.9113 94.3825 68.0913 94.3923C68.2712 94.4021 68.4514 94.3762 68.6213 94.3162C68.7912 94.2562 68.9476 94.1632 69.0816 94.0426L71.097 92.2247C72.0953 93.0081 73.1603 93.7024 74.2798 94.2997L73.4372 96.8879C73.3244 97.2334 73.3533 97.6095 73.5174 97.9337C73.6816 98.2579 73.9677 98.5037 74.3129 98.6172L78.7981 100.084C79.143 100.197 79.5183 100.167 79.8416 100.003C80.1648 99.8386 80.4097 99.5526 80.5223 99.2079L81.3742 96.6136C82.621 96.7872 83.8807 96.8498 85.1385 96.8005L85.6915 99.4863C85.7273 99.6617 85.7975 99.8283 85.8981 99.9765C85.9986 100.125 86.1275 100.251 86.2772 100.35C86.427 100.448 86.5947 100.515 86.7707 100.548C86.9467 100.581 87.1274 100.579 87.3026 100.542L91.9157 99.5656C92.2708 99.4898 92.5816 99.2771 92.7808 98.9735C92.98 98.67 93.0516 98.3002 92.9799 97.9443L92.4304 95.2352C93.5969 94.7653 94.72 94.1939 95.7867 93.5276L97.6116 95.5923C97.7306 95.7262 97.8751 95.8352 98.0365 95.913C98.1979 95.9908 98.3732 96.0359 98.5521 96.0456C98.731 96.0553 98.9101 96.0295 99.079 95.9696C99.2479 95.9098 99.4033 95.8171 99.5362 95.6969L103.075 92.532C103.347 92.2901 103.513 91.9506 103.536 91.5872C103.56 91.2239 103.439 90.8659 103.2 90.5909L101.36 88.4974C102.139 87.5042 102.831 86.4463 103.43 85.3352L106.08 86.2147C106.795 86.4519 107.572 86.0571 107.815 85.3327L109.342 80.794C109.587 80.0669 109.205 79.2836 108.489 79.0448L105.83 78.1578C106.018 76.9035 106.097 75.6354 106.068 74.3675L108.839 73.7812C109.199 73.7021 109.514 73.4852 109.716 73.1771C109.918 72.8689 109.992 72.4938 109.921 72.132L109.005 67.4093C108.972 67.2309 108.903 67.0609 108.804 66.9092C108.704 66.7576 108.575 66.6274 108.425 66.5264C108.274 66.4253 108.105 66.3553 107.927 66.3207C107.748 66.286 107.565 66.2873 107.388 66.3244L104.608 66.9125C104.157 65.7256 103.603 64.5804 102.953 63.4899L105.079 61.5718C105.355 61.3226 105.523 60.9755 105.547 60.6045C105.571 60.2335 105.449 59.8677 105.208 59.585L102.059 55.9503C101.94 55.8121 101.794 55.6993 101.631 55.6185C101.467 55.5377 101.289 55.4906 101.107 55.48C100.925 55.4693 100.742 55.4954 100.57 55.5566C100.398 55.6178 100.241 55.7129 100.106 55.8363L97.98 57.7598C96.9938 56.9612 95.9396 56.2506 94.8294 55.6361L95.7303 52.8922C95.9743 52.1493 95.5833 51.3475 94.8567 51.1016L90.3082 49.5625C89.5801 49.316 88.793 49.7202 88.5506 50.4649L87.6642 53.1876C86.4042 52.9987 85.1298 52.9234 83.8564 52.9626L83.2869 50.1551C83.131 49.3866 82.3945 48.8922 81.6418 49.0514L76.9353 50.0472C76.1828 50.2064 75.701 50.9585 75.8591 51.7266L76.4321 54.5101C75.2398 54.9869 74.0928 55.5697 73.0046 56.2514L71.153 54.1457C71.0329 54.0071 70.8862 53.8939 70.7215 53.8128C70.5569 53.7317 70.3777 53.6845 70.1945 53.6738C70.0113 53.6631 69.8279 53.6892 69.6549 53.7506C69.482 53.8119 69.3231 53.9073 69.1876 54.031L65.619 57.2875C65.3448 57.5413 65.1809 57.8923 65.1622 58.2654C65.1436 58.6386 65.2718 59.0042 65.5194 59.284L67.3648 61.372C66.5734 62.3949 65.8731 63.4851 65.2718 64.6301L62.6596 63.7589C62.4861 63.7011 62.3028 63.6786 62.1205 63.6926C61.9382 63.7066 61.7605 63.7568 61.5978 63.8403C61.4351 63.9238 61.2908 64.039 61.1732 64.179C61.0556 64.319 60.9671 64.4811 60.9129 64.6557L59.4493 69.2662C59.337 69.6198 59.368 70.0034 59.5356 70.3344C59.7033 70.6654 59.9942 70.9174 60.3457 71.0362ZM81.0356 58.4103C90.1388 56.4843 99.0082 62.4185 100.836 71.6142C102.652 80.7546 96.8177 89.6684 87.8133 91.5734C78.8092 93.4784 69.9656 87.6702 68.0503 78.5507C66.1235 69.376 71.9325 60.3363 81.0356 58.4103Z'); */
}

.price-page__tab_item:nth-child(3):hover .price-page__star-icon {
  transform: scale(1.08) translate(-3px, -1px);
}

@keyframes gear-rotate {
  from {
    transform: rotate(0deg);

  }
  to {
    transform: rotate(360deg);
  }
}