@import "partials/variables";

.blog-page {
  padding: $s48px 0 $s80px;
  position: relative;

  &__subtitle {
    text-align: center;
    margin: $s8px 0 0;
    position: relative;
    z-index: 2;
  }

  &__tabs {
    max-width: $s300px;
    margin: $s24px auto 0;
    background: #DEDDFF;
    border-radius: $s12px;
    padding: $s4px;
    display: flex;
    gap: $s10px;
    position: relative;
    z-index: 2;
  }

  &__tab {
    flex-grow: 1;
    border-radius: $s10px;
    background: none;
    border: none;
    font-size: $s14px;
    line-height: $s17px;;
    height: $s24px;
    font-family: 'ProximaNova';
    cursor: pointer;
    transition: ease-out .3s;

    &:hover {
      color: $colorPurple;
    }

    &:active {
      color: $colorPurpleDark;
    }

    &_active {
      background: $colorBlack;
      color: #FFFFFF !important;
      cursor: default;
    }
  }

  &__button {
    margin: $s40px auto 0;
    display: block;
  }

  &__tab-block {
    display: none;

    &_active {
      display: block;
    }
  }

  &__ellipse_blue {
    width: $s1072px;
    height: auto;
    position: absolute;
    top: -21%;
    left: -10%;
    pointer-events: none;
    opacity: .8;
    @-moz-document url-prefix() {
      opacity: .5;
    }
  }

  &__ellipse_purple {
    width: $s1072px;
    height: auto;
    position: absolute;
    top: 16%;
    left: -18%;
    pointer-events: none;
    opacity: .8;
    @-moz-document url-prefix() {
      opacity: .35;
    }
  }
}

.blog-block {
  position: relative;
  grid-template-columns: repeat(2, 1fr);
  gap: $s78px;
  z-index: 2;
  margin-top: $s40px;
  padding-top: $s56px;

  &::before {
    content: " ";
    width: $s2px;
    display: block;
    position: absolute;
    background: linear-gradient(180deg, rgba(109, 91, 247, 0) 0%, #6D5BF7 11.46%, #6D5BF7 90.62%, rgba(109, 91, 247, 0) 100%);
    height: calc(100% + 5.42vw);
    height: calc(100% + 3.34vw); // 48px
    top: -$s24px;
    left: 50%;
    transform: translate(-0.075vw, -$s78px);
    transform: none;
  }

  &__item {

    .our-plans__now_date::before {
      left: -1vw;
    }

    &:nth-child(odd) {
      margin-top: -$s56px;
      display: flex;
      flex-direction: column;
      align-items: flex-end;

      .our-plans__now_date::before {
        left: initial;
        right: -1.1vw;
        transform: translate(100%,-50%);
      }
    }
  }
}

.blog-page-detail {
  display: grid;
  grid-template-columns: 1fr $s874px 1fr;
  gap: $s24px;
  padding-top: $s24px;
  position: relative;

  &__left-block {
    padding-top: $s48px;
  }

  &__content {
    background: #FFFFFF;
    border-radius: $s32px;   
    position: relative;
    z-index: 2; 
  }

  &__ellipse_blue {
    position: absolute;
    top: -8%;
    right: -25%;
    width: $s1072px;
    height: $s1072px;
    pointer-events: none;
    opacity: .8;
    @-moz-document url-prefix() {
      opacity: .5;
    }
  }

  &__ellipse_purple {
    position: absolute;
    top: -1%;
    right: -42%;
    width: $s1072px;
    height: $s1072px;
    pointer-events: none;
    opacity: .8;
    @-moz-document url-prefix() {
      opacity: .35;
    }
  }
}

.detail-content {
  padding: $s16px $s111px $s48px;

  &__img {
    width: 100%;
    height: auto;
    border-radius: $s32px;
  }

  &__date {
    font-size: $s14px;
    line-height: $s17px;
    color: $colorGrey;
    margin-bottom: 0;
  }

  h1 {
    margin-top: $s24px;
    margin-bottom: $s48px;
    text-align: left;
  }

  h3 {
    font-size: $s20px;
    line-height: $s24px;
    margin: $s18px 0 $s16px;
    font-weight: 600;
  }

  img {
    width: 100%;
    height: auto;
  }

  .text-bg {
    border-radius: $s24px;
    padding: $s20px $s24px;
    background: #F2F4FF;
    margin-bottom: $s24px;
  }

  .text-small {
    font-size: $s14px;
    line-height: $s17px;
    margin: 0;
    padding: $s16px $s8px $s16px $s32px;
    color: $colorGrey;
  }

  .img {

   &__grid {
    display: grid;
    gap: $s20px;
    grid-template-columns: 1fr;

    &_2 {
      grid-template-columns: repeat(2, 1fr);
    }
   }
  }
}

.recomended-news {
  grid-row: 2;
  grid-column: 2;
  position: relative;
  margin-top: $s45px;
  padding-bottom: $s75px;

  &:before {
    content: " ";
    background: linear-gradient(180deg,rgba(239,243,255,0) 0,#EFF3FF 5%,#EFF3FF 100%);
    width: 100vw;
    height: 100%;
    position: absolute;
    bottom: -$s20px;
    left: 50%;
    transform: translateX(-50%);
  }

  &__block {
    max-width: $s510px;
    margin: $s60px auto 0;
    position: relative;
    z-index: 2;
  }

  .our-plans__now_date::before {
    display: none;
  }

  .our-plans__now_item-block {

    &:not(:first-child) {
      margin-top: $s16px;
    }
  }

  .blog-page__button {
    margin-top: $s48px;
    max-width: max-content;
    line-height: 1;
  }
}