@import "partials/variables";

.nav-right {
  position: fixed;
  top: 50%;
  transform: translateY(calc(-50% -  4.653vw));
  right: 0;
  display: flex;
  flex-direction: column;
  gap: $s8px;
  align-items: flex-end;
  padding-right: $s16px;
  z-index: 4;

  &__item {
    display: flex;
    align-items: center;
    gap: $s4px;
    text-decoration: none;
    color: $colorBlack;
    font-size: $s14px;
    line-height: $s17px;

    &:hover {
      .nav-right__text {
        opacity: 1;
        transform: translateX(0);
      }

      .nav-right__line {
        border-color: $colorPurple;
        background: rgba(109, 91, 247, .2);
      }
    }

    &_active {

      .nav-right__line {
        background: rgba(109, 91, 247, 1) !important;
        opacity: 1;
      }
    }
  }

  &__text {
    transition: ease-in-out .3s;
    opacity: 0;
    transform: translateX(10px);
    padding: $s4px $s20px $s4px $s8px;
    border-radius: $s8px;
    background: rgba(249, 251, 255, 0.2);
    backdrop-filter: blur(4px);
    font-size: $s14px;
  }

  &__line {
    width: $s8px;
    height: $s24px;
    border: 1px solid $colorGrey;
    border-radius: $s10px;
    opacity: .4;
    display: block;
    transition: ease-out .7s;
  }
}

.home-title  {
  font-family: 'OpenSans';
  font-size: $s56px;
  line-height: $s60px;
  margin: 0 0 $s16px;
  font-weight: 400;
  text-align: left;

  span {
    color: $colorPurple;
  }

  &__subtitle {
    font-size: $s24px;
    line-height: $s32px;
    margin: 0 0 $s24px;
    font-family: 'OpenSans';
  }
}

.home-list {
  margin: 0;
  padding: 0;

  &__item {
    list-style-type: none;
    padding-left: $s30px;
    position: relative;

    &:before {
      content: " ";
      width: $s16px;
      height: $s2px;
      background-color: $colorPurple;
      border-radius: 4px;
      position: absolute;
      top: 0.8vw;
      left: 0.2vw;
    }

    &:not(:last-child) {
      margin-bottom: $s8px;
    }
  }
}

.home-section {
  padding: $s60px 0;
  position: relative;

  &__two-column {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: $s20px;
  }

  &__title {

    &_center {
      text-align: center;
    }
  }

  &__first {
    align-items: center;
    padding-top: $s80px;

    &__button {
      margin-top: $s32px;
    }

    &_text-block {
      max-width: $s570px;
    }

    &_image-block {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      position: relative;

      img {
        width: $s578px;
        height: auto;
        z-index: 2;
      }
    }

    &_ellips-blue {
      position: absolute;
      top: 0;
      left: 0;
      width: 25.9vw;
      height: auto;
      transform: translate(-34%,-31%);
      pointer-events: none;
    }

    &_ellips-purple {
      position: absolute;
      bottom: 0;
      right: 0;
      width: 25.9vw;
      height: auto;
      transform: translate(6%,45%);
      pointer-events: none;
    }
  }

  &__second {
    padding-top: $s100px;
  }

  &__third {
    padding-bottom: 0;
  }

  &__forth {
    margin-top: $s40px;
    align-items: center;
    padding-top: $s80px;
  }

  &__fifth {
    padding-bottom: 0;
  }
}

.possibilities {

  &__slider {
    position: relative;

    .home-section__two-column {
      align-items: center;
    }
  }

  &__slide {    
   height: 100%;

    &_text-block {
      padding: $s40px;
      border: 1px solid $colorGreyBorder;
      border-radius: $s32px;
      background: #FFFFFF;
      height: 36.12vw;
    }

    &_title {
      margin-bottom: $s32px !important;
    }

    &_img-block {
      position: relative;
    }

    &-img01 {
      width: 100%;
      height: auto;
      position: relative;
      z-index: 2;

      &_gear {
        position: absolute;
        top: 3.5%;
        left: 20%;
        width: $s200px;
        height: auto;
      }

      &_star {
        position: absolute;
        bottom: 7.5%;
        right: 23%;
        width: 9.03vw;
        height: auto;
      }
    }

    &-img02 {
      width: 100%;
      height: auto;
      position: relative;
      z-index: 2;
      left: 50%;
      transform: translateX(-50%);

      &_bg {
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        width: 100%;
      }
    }

    &-img03 {
      width: 30.7vw;
      height: auto;
      position: relative;
      z-index: 2;
      left: 50%;
      transform: translateX(-50%);

      &_bg {
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        width: 29.4vw;
      }
    }

    &-img04 {
      width: $s605px;
      height: auto;
      position: relative;
      z-index: 2;
      margin-left: auto;

      &_bg-top {
        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        width: 25.7vw;
      }

      &_bg-bottom {
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        width: 25.7vw;
      }
    }

    &:not(:first-child) {
      display: none;
    }

    &.show {
      display: block;
    }
  }

  &__buttons {
    position: absolute;
    display: flex;
    justify-content: space-between;
    width: calc(50% - 0.69vw);
    transform: translateY(-100%);
    padding: 0 $s40px $s40px;
  }

  &__dots {
    position: absolute;
    left: 0;
    bottom: -$s8px;
    width: calc(50% - 0.69vw);
    background: rgba(230, 226, 255, .5);
    border-radius: $s8px;
    height: 0.35vw;;
    transform: translateY(100%) scaleX(.9);

    &_line {
      min-width: 8.4vw;
      width: 25%;
      background: rgba(109, 91, 247, .4);
      height: 0.35vw;
      border-radius: $s8px;
      transition: ease-out .5s;
    }
    
    .slick-dots {
      margin: 0;
      padding: 0;
      display: flex;
      list-style-type: none;

      li {
        display: none;
      }
    }
  }
}

.slider__arrows {
  display: flex;
  gap: 1.12vw;

   .slick-arrow {
    border-radius: 50%;
    border: 1px solid $colorBlack;
    width: $s48px;
    height: $s48px;
    background: #FFFFFF;
    font-size: 0;
    cursor: pointer;
    transition: ease-out .3s;

    &:before {
      content: " ";
      background: url('../images/icons/slider-arrow.svg');
      width: $s24px;
      height: $s24px;
      background-size: contain;
      background-position: center center;
      background-repeat: no-repeat;
      display: inline-block;
    }

    &:hover {
      border-color: $colorPurple;
      background: $colorBlueLight;
    }

    &:active {
      background: $colorPurple;
    }

    &.slick-next {

      &::before {
        transform: rotate(180deg);
      }
    }

    &.slick-disabled {
      cursor: default;
      background: #FFFFFF !important;
      border-color: $colorGrey;

      &::before {
        opacity: .5;
      }
    }
   }
}

.advantages {
  display: flex;
  justify-content: space-between;
  gap: $s20px;
  margin-top: $s40px;
  position: relative;
  z-index: 2;

  &__item {
    flex-grow: 1;
    background: #FFFFFF;
    border: 1px solid $colorGreyBorder;
    padding: $s16px $s14px $s34px;
    border-radius: $s32px;

    &_img {
      width: $s280px;
      height: $s280px;
      display: flex;
      align-items: center;
      justify-content: center;

      &-01 {
        width: $s253px;
        height: auto;
      }

      &-02 {
        width: $s221px;
        height: auto;
      }

      &-03 {
        width: $s253px;
        height: auto;
      }

      &-04 {
        width: $s253px;
        height: auto;
      }
    }

    &_text {
      text-align: center;
      padding: 0 $s8px;
      margin: $s32px 0 0;
    }
  }

  &_ellips-purple {
    width: $s372px;
    height: $s372px;
    background: #ADABFF;
    position: absolute;
    top: 35%;
    left: 20%;
    pointer-events: none;
    filter: blur($s200px);
    opacity: .5;
  }

  &_ellips-blue {
    width: $s372px;
    height: $s372px;
    background: #C1E8FF;
    position: absolute;
    top: 38%;
    right: 23%;
    pointer-events: none;
    filter: blur($s200px);
    opacity: .5;
  }

  &__button {
    margin: $s40px auto 0;
    display: block;
    z-index: 2;
    position: relative;
  }
}

.how-work {

  &__img-block {
    display: flex;
    justify-content: flex-end;
    position: relative;
  }

  &__img {
    width: $s560px;
    position: relative;
    z-index: 3;

    &_gear {
      position: absolute;
      width: $s145px;
      height: $s145px;
      top: 0;
      right: $s420px;
      z-index: 2;
    }

    &_bg {
      position: absolute;
      width: $s560px;
      height: auto;
      top: 0;
      right: 0;
    }
  }

  &__text-block {
    margin-left: $s110px;
  }

  &__ul {
    display: flex;
    flex-direction: column;
    gap: $s22px;
    max-width: $s350px;  
    margin-top: $s22px;  
  }

  &__li {
    margin: 0;
    
    &_bold {
      font-weight: 600;
    }
  }
  
  &__button {
    margin-top: $s40px; 
  }
}

.our-plans {
  max-width: $s1096px;
  margin: $s80px auto 0;
  display: grid;
  grid-template-columns: $s480px $s510px;
  justify-content: space-between;

  &__subtitle {
    color: $colorBlue;
    font-size: $s14px;
    line-height: $s17px; 
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 0.04em;
  }

  &__right {
    position: relative;
    
    &::before {
      content: " ";
      width: $s2px;
      display: block;
      position: absolute;
      background: linear-gradient(180deg, rgba(109, 91, 247, 0) 0%, #6D5BF7 11.46%, #6D5BF7 90.62%, rgba(109, 91, 247, 0) 100%);
      height: 117%;
      top: 50%;
      left: 0;
      transform: translate(-$s40px, -54%);
    }
  }

  &__soon {
    display: flex;
    flex-direction: column;
    gap: $s20px;

    &_item {
      background: #FFFFFF;
      border: 2px dashed  #C0E8FF;
      padding: $s22px $s22px $s22px $s14px;
      display: flex;
      gap: $s8px;
      align-items: center;
      border-radius: $s16px;
    }

    &_img {
      object-fit: contain;
      width: $s40px;
      height: $s40px;
    }

    &_text {
      font-size: $s16px;
      line-height: $s18px;
      font-weight: 500;
      margin-bottom: 0;
    }
  }

  &__now {
    display: flex;
    flex-direction: column;
    gap: $s24px;

    &_date {
      color: #FFFFFF;
      padding: $s4px $s22px;
      background: $colorPurple;
      font-size: $s14px;
      line-height: $s17px;
      border-radius: $s24px;
      margin-bottom: $s8px;
      min-width: $s96px;
      display: inline-block;
      position: relative;

      &::before {
        content: " ";
        width: $s24px;
        height: $s2px;
        border-radius: $s2px;
        background: $colorPurple;
        position: absolute;
        top: 50%;
        left: -$s16px;
        transform: translate(-100%, -50%);
      }
    }

    &_text-block {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }

    &_item {
      background: #FFFFFF;
      border: 1px solid $colorGreyLight;
      border-radius: $s16px;
      padding: $s12px;
      display: flex;
      gap: $s16px;
    }

    &_img {
      height: $s136px;
      width: $s190px;
      border-radius: $s16px;
      object-fit: contain;
      flex-shrink: 0;
    }

    &_title {
      font-weight: 500;
      font-size: $s20px;
      line-height: $s24px;
      margin: 0 0 $s8px;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 2;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    &_text {
      font-size: $s14px;
      line-height: $s17px;      
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 3;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }

  &__buttons {
    display: flex;
    justify-content: center;
    margin-top: $s40px;
  }
}

.partnership {
  background: $colorBlueLight;
  border-radius: $s32px;
  padding: $s60px 7.35vw;
  display: grid;
  grid-template-columns: $s470px 1fr;
  gap: $s60px;
  position: relative;
  overflow: hidden;
  margin-top: $s8px;

  &__title {
    margin-bottom: $s20px !important;
  }

  &__text {
    font-size: $s14px;
    line-height: $s17px;;
    margin-bottom: 0;
  }

  &__buttons {
    margin-top: $s42px;
    display: flex;
    align-items: center;
    gap: $s16px;
  }

  &__img {
    width: $s570px;
    height: auto;
    position: absolute;
    bottom: -20%;
    right: $s131px;
    z-index: 2;

    &_bg {
      width: $s200px;
      height: auto;
      position: absolute;
      bottom: -$s14px;
      right: 0;
      pointer-events: none;
    }

    &_ellipse-purple {
      width: $s372px;
      height: $s372px;
      background: rgba(147, 11, 255, 1);
      opacity: .6;
      @-moz-document url-prefix() {
        opacity: .25;
      }      
      position: absolute;
      bottom: -$s90px;
      right: $s30px;
      pointer-events: none;
      filter: blur($s200px);      
    }

    &_ellipse-blue {
      width: $s372px;
      height: $s372px;
      background: #B3FEFE;
      opacity: .6;
      @-moz-document url-prefix() {
        opacity: .25;
      }      
      position: absolute;
      top: -$s90px;
      right: $s253px;
      pointer-events: none;
      filter: blur($s200px);    
    }
  }
}

.reviews {
  max-width: $s1072px;
  margin: 0 auto;
}

.review-item {  
  display: flex !important;
  align-items: center;
  gap: $s131px;
  justify-content: center;
  position: relative;

  &__photo-block {
    width: $s400px;
    flex-shrink: 0;
    height: $s420px;
    position: relative;

    &::after {
      content: " ";
      background: url('../images/home_reviews-quotes.svg');
      background-size: contain;
      background-position: center center;
      background-repeat: no-repeat;
      display: block;
      width: $s75px;
      height: $s60px;
      position: absolute;
      top: $s40px;
      left: $s326px;
      opacity: .3;
      pointer-events: none;
    }
  }

  &__01 {    

    .review-item__photo-block {
      display: flex;
      justify-content: flex-end;
      align-items: flex-end;
      padding-bottom: $s16px;
    }

    &-photo {
      width: $s400px;
      height: auto;
    }
  }

  &__02 {    

    .review-item__photo-block {
      display: flex;
      justify-content: center;
      align-items: center;      
    }

    &-photo {
      width: $s385px;
      height: auto;
    }
  }

  &__03 {    

    .review-item__photo-block {
      display: flex;
      justify-content: center;
      align-items: center;      
    }

    &-photo {
      width: $s420px;
      height: auto;
    }
  }

  &__text-block {
    flex-grow: 1;
  }

  &__text {
    margin-bottom: $s18px;
  }

  &__contact-block {
    display: flex;
    align-items: center;
    gap: $s22px;
    text-decoration: none;

    svg {
      width: $s45px;
      height: $s45px;
      flex-shrink: 0;
    }
  }

  &__name {
    font-size: $s20px;
    line-height: $s24px;
    font-weight: 600;
    margin-bottom: $s2px;
    text-decoration: none;
    color: $colorBlack;
  }

  &__company {
    opacity: .3;
    font-size: $s14px;
    line-height: $s17px;
    margin: 0;
    text-decoration: none;
    color: $colorBlack;
  }

  &__arrows {
    width: $s400px;
    display: flex;
    justify-content: flex-end;
    transform: translateY(-100%);
    gap: $s16px;

    .slick-arrow {
      width: $s48px;
      height: $s48px;
      background: $colorBlack;
      border-radius: 50%;
      border: 1px solid #FFFFFF;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 0;
      transition: ease-out .3s;
      cursor: pointer;

      &:before {
        content: " ";
        background-image: url('../images/icons/slider-arrow-white.svg');
        width: $s24px;
        height: $s24px;
        background-size: contain;
        background-position: center center;
        background-repeat: no-repeat;
        display: inline-block;
      }

      &.slick-next {

        &::before {
          transform: rotate(180deg);
        }
      }

      &:hover {
        border-color: $colorBlack;
        background: #FFFFFF;

        &::before {
          background-image: url('../images/icons/slider-arrow.svg');
        }
      }

      &:active {
        border-color: #FFFFFF;
        background: $colorBlueLight;
      }

      &.slick-disabled {
        cursor: default;
        background: #cdcfdc !important;
        border: 1px solid #FFFFFF  !important;

        &:before {
          background-image: url('../images/icons/slider-arrow-white.svg') !important;
        }
      }
    }
  }

  &:not(:first-child) {
    display: none !important;
  }

  &.show {
    display: flex !important;
  }
}