@import "partials/variables";

.home-section__first_image_mob {
  display: none;
}

@media (max-width: 992px) {

  .home-title {
    font-size: $mob32px;
    line-height: $mob36px;
    margin-bottom: $mob8px;

    &__subtitle {
      font-size: $mob16px;
      line-height: $mob22px;
    }
  }

  .home-section {
    padding: $mob40px 0;

    &__two-column {
      grid-template-columns: 1fr;
    }

    &__first {
      padding-top: $mob20px;

      &_text-block {
        max-width: initial;
        position: relative;
        z-index: 3;
      }

      &_image-block {
        position: static;

        img {
          width: $mob425px;
        }
      }

      &_image {
        display: none;
        
        &_mob {
          display: block;
          width: $mob300px;
          margin: $mob24px auto;
        }
      }

      &__button {
        margin: $mob24px auto 0;
        display: block;
      }

      &_ellips-blue {
        left: initial;
        right: 0;
        transform: translate(41%,-34%);
      }

      &_ellips-purple {
        transform: translate(-4%,50%);
      }
    }

    &__second {
      z-index: 3;
    }
  }

  .possibilities {

    &__slide {

      &_title {
        margin-bottom: $mob14px;
        font-size: $mob20px !important;
      }

      &_text-block {
        grid-row: 2;
        height: $mob348px;
        padding: $mob16px;
      }

      &_img-block {
        height: $mob275px;
        margin-bottom: $mob8px;
      }

      &-img01_gear {
        width: $mob106px;
      }

      &-img01_star {
        width: $mob65px;
      }

      &-img02 {
        left: initial;
        transform: none;
        bottom: -$mob2px;
        top: initial;
        position: absolute;
      }

      &-img03_bg {
        width: $mob226px;
        bottom: $mob32px;
      }

      &-img03 {
        width: $mob234px;
        position: absolute;
        bottom: 0;
      }

      &-img04_bg-top {
        width: $mob196px;
      }

      &-img04_bg-bottom {
        width: $mob196px;
      }

      &-img04 {
        width: 100%;
        position: absolute;
        left: 0;
        bottom: 0;
      }
    }

    &__buttons {
      position: static;
      transform: none;
      width: 100%;
      padding: 0;

      .button {
        margin: $mob32px auto 0;
        display: block;
      }
    }

    &__arrows {
      position: absolute;
      width: 100%;
      justify-content: space-between;
      padding: $mob16px;
      transform: translateY(-100%);
    }

    &__dots {
      width: 100%;
      height: $mob4px;
      bottom: initial;

      &_line {
        height: $mob4px;
      }
    }
  }

  .slider__arrows {

    .slick-arrow {
      width: $mob40px;
      height: $mob40px;
      flex-shrink: 0;

      &:before {
        width: $mob16px;
        height: $mob16px;
      }
    }
  }

  .advantages {
    margin-top: $mob16px;
    flex-wrap: wrap;
    gap: $mob6px;

    &__item {
      width: $mob168px;
      padding: $mob4px $mob6px $mob16px $mob6px;

      &_img {
        width: $mob160px;
        height: $mob160px;
        margin-bottom: $mob8px;

        &-01 {
          width: $mob144px;
        }

        &-02 {
          width: $mob126px;
        }

        &-03 {
          width: $mob144px;
        }

        &-04 {
          width: $mob144px;
        }
      }

      &_text {
        font-size: $mob14px;
        line-height: $mob16px;
      }
    }

    &__button {
      margin-top: $mob24px;
    }
  }

  .how-work {

    &__img-block {
      justify-content: center;
      margin-bottom: $mob24px;
    }

    &__img {
      width: 100%;
    }

    &__text-block {
      margin: 0;
    }

    &__ul {
      max-width: initial;
      margin-top: $mob32px;
    }

    &__li {
      font-size: $mob16px;
      line-height: $mob22px;
      
      &:not(:last-child) {
        margin-bottom: $mob20px;
      }
    }

    &__button {
      margin: $mob24px auto 0;
      display: block;
    }
  }

  .our-plans {
    max-width: initial;
    grid-template-columns: 1fr;
    margin-top: $mob24px;

    &__subtitle {
      font-size: $mob14px;
      line-height: $mob16px;
      margin-bottom: $mob16px;
      color: $colorPurple;
    }

    &__soon {
      gap: $mob16px;

      &_item {
        padding: $mob24px $mob24px $mob24px $mob16px;
        border-radius: $mob16px;
      }

      &_img {
        width: $mob40px;
        height: $mob40px;
        margin-right: $mob16px;
      }

      &_text {
        font-size: $mob16px;
        line-height: 120%;        
      }
    }

    &__right {
      margin-top: $mob44px;

      &::before {
        width: $mob2px;
        transform: translate(-$mob8px,0);
        top: $mob16px;
        background: linear-gradient(180deg,rgba(109,91,247,0) 0,#6d5bf7 6%,#6d5bf7 94%,rgba(109,91,247,0) 100%);
        height: 100%;
      }
    }

    &__now {
      gap: $mob24px;

      &_item {
        padding: $mob4px;
        gap: $mob16px;
        border-radius: $mob16px;
      }

      &_img {
        width: $mob126px;
        height: $mob112px;
        border-radius: $mob16px;
        object-fit: cover;
      }

      &_title {
        font-size: $mob14px;
        line-height: $mob16px;
        margin-bottom: $mob4px;
      }

      &_text-block {
        padding: $mob4px 0 $mob2px;
      }

      &_text {
        font-size: $mob12px;
        line-height: $mob14px;
        margin-bottom: $mob6px;
      }

      &_date {
        font-size: $mob12px;
        line-height: $mob14px;
        padding: $mob4px $mob16px;
        border-radius: $mob20px;
        margin-bottom: $mob4px;

        &::before {
          height: $mob2px;
          width: $mob5px;
          border-radius: $mob2px;
          left: -$mob3px;
        }
      }
    }

    &__buttons {
      margin-top: $mob24px;
    }
  }

  .partnership {
    display: flex;
    flex-direction: column-reverse;
    padding: $mob28px $mob12px;
    gap: $mob24px;

    &__text-block {
      grid-row: 2;
      max-width: 100%;
    }

    &__img {
      position: relative;
      width: $mob320px;
      left: 0;

      &_bg {
        width: $mob84px;
        bottom: initial;
        top: $mob196px;
      }

      &_ellipse-purple {
        bottom: initial;
        top: 8%;
        right: -12%;
        width: $mob196px;
        height: $mob196px;
        opacity: .35;
      }

      &_ellipse-blue {
        width: $mob196px;
        height: $mob196px;
        top: 30%;
        right: initial;
        left: -8%;
        opacity: .6;
      }
    }

    &__title {
      margin-bottom: $mob20px !important;
    }

    &__text {
      font-size: $mob14px;
      line-height: $mob16px;
    }

    &__buttons {
      margin-top: $mob24px;
      gap: $mob20px;

      .button__solid {
        min-width: $mob160px;
        padding: $mob12px $mob24px;
      }
    }
  }

  .reviews {
    max-width: initial;
  }
  
  .reviews-slider {
    margin-top: $mob40px;
  }

  .review-item {
    flex-direction: column;
    gap: $mob65px;

    &__photo-block {
      width: 100%;
      height: $mob320px;

      &::after {
        width: $mob65px;
        height: $mob48px;
        left: initial;
        right: 0;
      }
    }

    &__01-photo {
      width: 100%;
    }

    &__02-photo {
      width: auto;
      height: 100%;
    }

    &__03-photo {
      width: 100%;
    }

    &__text {
      font-size: $mob14px;
      line-height: $mob18px;
      margin-bottom: $mob24px
    }

    &__contact-block {
      gap: $mob24px;

      svg {
        width: $mob44px;
        height: $mob44px;
      }
    }

    &__name {
      font-size: $mob16px;
      line-height: $mob18px;
      margin-bottom: $mob6px;
    }

    &__company {
      font-size: $mob12px;
      line-height: $mob16px;
    }

    &__arrows {
      position: absolute;
      right: 0;
      top: $mob480px;
      gap: $mob16px;

      .slick-arrow {
        width: $mob48px;
        height: $mob48px;
        flex-shrink: 0;

        &:before {
          width: $mob24px;
          height: $mob24px;
        }
      }
    }
  }
}