
//colors
$colorBlack: #1F212C;

$colorBg: #F9FBFF; 
$colorPurple: #6D5BF7;
$colorPurpleDark: #4838CA;
$colorBlueLight: #C1CCFF;
$colorBlue: #658EC3;
$colorGrey: #8592A3;
$colorGreyLight: #E4E7EF;
$colorGreyBorder: #E1E4ED;

$s1px: 0.07vw;
$s2px: 0.15vw;
$s4px: 0.28vw;
$s8px: 0.55vw;
$s10px: 0.7vw;
$s12px: 0.84vw;
$s14px: 0.98vw;
$s16px: 1.12vw;
$s17px: 1.18vw;
$s18px: 1.25vw;
$s20px: 1.38vw;
$s22px: 1.53vw;
$s24px: 1.67vw;
$s30px: 2.08vw;
$s32px: 2.23vw;
$s34px: 2.36vw;
$s36px: 2.5vw;
$s40px: 2.78vw;
$s42px: 2.92vw;
$s45px: 3.13vw;
$s48px: 3.34vw;
$s50px: 3.47vw;
$s54px: 3.75vw;
$s56px: 3.89vw;
$s60px: 4.17vw;
$s67px: 4.653vw;
$s75px: 5.21vw;
$s78px: 5.42vw;
$s80px: 5.56vw;
$s90px: 6.25vw;
$s96px: 6.67vw;
$s100px: 6.95vw;
$s110px: 7.64vw;
$s111px: 7.71vw;
$s120px: 8.34vw;
$s131px: 9.08vw;
$s136px: 9.45vw;
$s145px: 10.07vw;
$s190px: 13.2vw;
$s200px: 13.89vw;
$s221px: 15.35vw;
$s240px: 16.67vw;
$s253px: 17.57vw;
$s280px: 19.45vw;
$s285px: 19.8vw;
$s300px: 20.84vw;
$s320px: 22.23vw;
$s326px: 22.63vw;
$s350px: 24.31vw;
$s364px: 25.27vw;
$s372px: 25.84vw;
$s385px: 26.74vw;
$s390px: 27.083vw;
$s400px: 27.78vw;
$s420px: 29.17vw;
$s436px: 30.27vw;
$s448px: 31.12vw;
$s454px: 31.53vw;
$s470px: 32.63vw;
$s480px: 33.34vw;
$s510px: 35.42vw;
$s540px: 37.5vw;
$s560px: 38.89vw;
$s570px: 39.58vw;
$s578px: 40.14vw;
$s605px: 42.02vw;
$s650px: 45.14vw;
$s800px: 56.56vw;
$s840px: 58.34vw;
$s874px: 60.7vw;
$s1030px: 71.53vw;
$s1072px: 74.45vw;
$s1096px: 76.12vw;
$s1172px: 81.38vw;
$s1208px: 83.9vw;

// mobile sizes 

$mob2px: 0.54vw;
$mob4px: 1.07vw;
$mob6px: 1.6vw;
$mob8px: 2.14vw;
$mob12px: 3.2vw;
$mob14px: 3.74vw;
$mob16px: 4.27vw;
$mob20px: 5.34vw;
$mob22px: 5.87vw;
$mob24px: 6.4vw;
$mob26px: 6.94vw;
$mob28px: 7.47vw;
$mob32px: 8.54vw;
$mob36px: 9.6vw;
$mob40px: 10.67vw;
$mob48px: 12.8vw;
$mob65px: 17.34vw;
$mob84px: 22.4vw;
$mob106px: 28.27vw;
$mob126px: 33.6vw;
$mob144px: 38.4vw;
$mob160px: 42.67vw;
$mob168px: 44.8vw;
$mob196px: 52.27vw;
$mob204px: 54.4vw;
$mob216px: 57.6vw;
$mob226px: 60.27vw;
$mob234px: 62.4vw;
$mob275px: 73.34vw;
$mob300px: 80vw;
$mob348px: 92.8vw;
$mob372px: 99.2vw;
$mob425px: 113.33vw;